* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-display: auto;
  font-style: normal;
  font-smooth: auto;
  font-size: 16px;
  line-height: 1;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html,
body {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #121619;
  background-color: #edf5ff;
  font-family: "IBM Plex Sans", sans-serif;
}

::selection {
  background: #1192e8;
}

h1 {
  font-size: 40px;
}

.chat-session {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.chat-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 30vw;
  height: auto;
  min-height: 60vh;
  padding: 1vw;
  margin: 20vh auto;
  text-align: center;
  border: 1px solid #121619;
  background-color: #f2f4f8;
}

.chat-box .chat-stream {
  flex: 1;
  align-self: center;
  width: 100%;
  height: auto;
  max-height: 50vh;
  overflow-x: hidden;
  margin: 0 auto;
  scrollbar-width: thin;
}

.chat-box .chat-stream article {
  padding: 1vh 1vw;
  margin: 1vh 0;
  width: 100%;
}

.chat-box .chat-stream .bot {
  text-align: left;
  color: #f2f4f8 !important;
  background-color: #697077;
}

.chat-box .chat-stream .user {
  text-align: right;
  color: #f2f4f8 !important;
  background-color: #1192e8;
}

.chat-box .chat-form {
  display: block;
  width: 100%;
  padding: 1vh 1vw;
  border: none;
  border-bottom: 3px solid#121619;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media only screen and (max-width: 1200px) {
  .chat-box {
    min-width: 60vw;
    max-width: 90vw;
  }
}

@media only screen and (max-width: 600px) {
  .chat-box {
    min-width: 90vw;
  }
}

/* Loader */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #edf5ff;
}
.loader svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
